/***************************************************************************************************************************************************************

                                Icone

        -------------------------------------------------------------------

    Permet d'associer des fichiers au .exe, ici on associe l'icone

                                                                    Auteur : Jean

****************************************************************************************************************************************************************/
1 ICON "icone.ico"
